 

body {
    color: #EADDCA;
    font-family: roboto-regular;
    background: linear-gradient(to left, rgb(89, 89, 89), #333 40%, #eee 75%, rgb(89, 89, 89) 75%);
}

li {
    display: flex;
    /*align-items: right; */
}
li > * {
    width: 100px;
    height: 100px;
}